body {
  color: rgba(0,0,0,.84);
  font-size: 1.2em;
  letter-spacing: .003em;
  line-height: 1.5em;
}

.desktop-drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.desktop-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.content-container {
  padding: 20px;
  max-width: 720px;
  box-sizing: border-box;
  margin: 0 auto;
}